<div>
  <h2>My created heroes</h2>

  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.name}}">
        <span class="badge">{{hero.name}}</span> {{hero.name}}
      </a>
      <button type="button" class="delete" title="delete hero"
              (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>

<div>
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" #heroName />
  <label for="hero-power">Hero power: </label>
  <input id="hero-power" #heroPower />

  <button type="button" class="add-button" (click)="add(heroName.value, heroPower.value); heroName.value=''; heroPower.value=''">
    Add hero
  </button>
</div>
