<footer class="bg-secondary text-white text-center text-md-start">
  <div class="text-center p-3">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/ontonyy" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anton-gavrilin-/" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/anton-gavrilin/" role="button">
        <i class="fab fa-github"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a>
  </div>
</footer>
